APP_NAME="Booking API"
APP_ENV=local
APP_KEY=base64:IxcaQ4KwtN2yz3l2IERsliNt8IGoJuz0kE4DBJ/pHUk=
APP_DEBUG=true
APP_URL=http://localhost

DB_CONNECTION=mysql
DB_HOST=db
DB_PORT=3306
DB_DATABASE=booking_db
DB_USERNAME=root
DB_PASSWORD=rootpassword

JWT_SECRET=HUnSBdzcoCDIAe4kJpQSPRNPfCkPOFau666NNo8KBviUKHLAezCg5LfBq0KkWaY1
